.date-container {

    position:absolute;
    font-size:2em;
    top:1em;
    left:1em;
    z-index:2;
    color:white;
}

.images {

    img {

        &.top {
            z-index: 1;
        }
        &.bottom {
            z-index: 0;
        }

        height: 100%;
        width:100%;
        position: absolute;
        top: 0;
        left:0;
        object-fit: cover;

    }
}

